{% extends "base.html" %}

{% block title %}Home - Boba Shop{% endblock %}

{% block content %}
    <body>
        <h1 class="menu_title">Menu</h1>

        <div class="container">
            <div class="tab_box">
                {% for category in menu %}
                    <button class="tab_btn{% if loop.first %} active{% endif %}">{{ category }}</button>
                {% endfor %}
            </div>
            
            <div class="content_box">
                {% for category, items in menu.items() %}
                    <div class="content{% if loop.first %} active{% endif %}">
                        <ul class="menu_list">
                            {% for name, details in items.items() %}
                                <li class="menu_item">
                                    <img src="{{ url_for('static', filename='images/' ~ details['image']) }}" alt="{{ name }}">
                                    <p>{{ name }} - ${{ details['price'] }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <script>
            const tabs= document.querySelectorAll('.tab_btn');
            const all_content= document.querySelectorAll('.content');
            
            tabs.forEach((tab, index)=>{
                tab.addEventListener('click', (e)=>{
                    tabs.forEach(tab=>{tab.classList.remove('active')});
                    tab.classList.add('active')
                
                all_content.forEach(content=>{content.classList.remove('active')});
                all_content[index].classList.add('active');
                })
            })
        </script>

    </body>
{% endblock %}